<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet", href="./css/styles.css">
    <title>Error 404</title>
</head>
<body class="animate__animated animate__fadeIn animate__delay-0.5s">
<div class="main-content">
    {{>header}}
    <p id="OOPS-404">{{errorOOPS}}</p>
    <div align = "center"><img src="https://i.imgflip.com/5erf58.jpg" title="made at imgflip.com" align="center" width="100%"/></div>
    <p>If this is a mistake, please get in <a href="/help" class="main-links">touch</a></p>
</div>
{{>footer}}
</body>
</html>