<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">
    <title>About Me</title>
</head>
<body class="animate__animated animate__fadeIn animate__delay-0.5s">
<div class="main-content">
    {{>header}}
    <p id="Name-About">{{name}}</p>
    <img src="img/image.jpeg" class="personal-portrait">
    <div><hr id="About-Dots"></div>
    <p id="Greeting">Hi,</p>
    <p id="Greeting-Subtitle">I am a backend Developer</p>
    <p id="Greeting-Subtitle-Subtitle">With a speciality in Data Science</p>
    <p id="About-Main">
    <ul>
    <li>Check out my <a href="https://www.github.com/shuklasaharsh" class="main-links">github</a></li>
    <br>
    <script src="https://gist.github.com/shuklasaharsh/911fe56d1c6e0234a04b2de2ae5719ca.js" id="code-about"></script>
    <br>
    <li>Check out my <a href="/projects" class="main-links">Projects</a></li>
    </ul>
    </p>
    <p align="center"><img src="https://github-readme-streak-stats.herokuapp.com?user=shuklasaharsh&hide_border=true&fire=2389DD&ring=329BDD&theme=light" align="center"></p>
    <p align="center"><img src="https://github-readme-stats.vercel.app/api?username=shuklasaharsh&theme=light&hide_border=true"></p>
</div>

{{>footer}}
</body>
</html>