<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="./css/styles.css">
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
{{>header}}
<img src="img/image.jpeg">
<p>Created by {{name}}</p>
{{>footer}}
</body>
</html>