<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">
    <title>Get in Touch</title>
</head>
<body class="animate__animated animate__fadeIn animate__delay-0.5s">
<div class="main-content">
    {{>header}}
    <h1 class="animate__animated animate__fadeIn" align="center">Get in Touch</h1>
    <div align="center">
    <form>
        <input placeholder="{{message}}"><br>
        <input placeholder="Subject" id="emailSubject"><br>
        <input placeholder="Your Email" id="email"><br><br>

        <button>Send Request</button>
    </form>
    </div>
    <p id="message-help"></p>
</div>

{{>footer}}
<script src="./js/help.js"></script>
</body>
</html>