<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">

    <title>Home</title>
</head>
<body class="animate__animated animate__fadeIn animate__delay-0.5s">
<div class="main-content">
    {{>header}}
    <p id="Greeting" align="center">Saharsh Shukla</p>
    <p id="Greeting-Subtitle" align="center">VP Finance, C4Projects</p>

    <p align="center"><h2 align="center"><a href="/projects" class="main-links">Visit My Project page</a></h2></p>
    <br>
    <br>
<!--    <div align = "center">
    <form>
        <input placeholder="Go to" aria-label="Your location">
        <button>Search</button>
    </form>
    <p id="message-location"></p>
    <p id="message-forecast"></p>
    </div>-->
</div>

{{>footer}}
<script src="./js/app.js"></script>
</body>
</html>