<footer>
<div align="center">
    <hr id="About-Dots">
    <h4>Created by {{name}}©2021</h4>
    <a href = "/">Home</a>
    <a href = "/help">Help</a>
    <a href= "/about">About</a>
    <a href="/projects">Projects</a>
</div>
</footer>