<header>
<div>
    <h1>{{title}}</h1>
    <a href="https://www.github.com/shuklasaharsh"><img id="github-ico" src="./img/ico-git.png" align="right" width="32px"></a>
    <a href="https://www.linkedin.com/in/saharsh-shukla-740118178/"><img id="linkedin-ico" src="./img/ico-linkedin.png" width="32px" align = "right"></a>
    <a href="mailto:saharsh.shukla2018@vitstudent.ac.in?subject=I was checking out you Personal Website and"><img id="linkedin-ico" src="./img/ico-mail.png" width="32px" align = "right"></a>
    <a href="https://c4projects.tech"><img id="c4-ico" src="./img/ico-C4.jpeg" width="32px" align = "right"></a>
</div>
<div>
    <a href="/">Home</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
</div>
    <hr id="About-Dots">
</header>